/* .landing-page {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.features {
  padding: 50px 0;
}

.feature {
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: rgba(var(--bs-dark-rgb), var(--bs-secondary-opacity)) !important;
}

.feature p {
  font-size: 16px;
  color: rgba(var(--bs-dark-rgb), var(--bs-secondary-opacity)) !important;
}

.cta {
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  padding: 50px 0;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta button {
  font-size: 18px;
} */

